<html>
    <head>
        <title>galvani</title>   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">     
    </head>
    <body>
        <h1>IIS galvani - Milano</h1>
        <img src="https://lh5.googleusercontent.com/p/AF1QipOQ2BHoA2iWYRAVTEIEybDqCVprXiZyC-WfxbsQ=w243-h174-n-k-no-nu" alt="">
        <p>{{ora}}</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11184.692171061397!2d9.1907663!3d45.5065951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c0ce056761b9%3A0xc227b63bef9aef37!2sIIS%20Luigi%20Galvani!5e0!3m2!1sit!2sit!4v1678706618966!5m2!1sit!2sit" width={{mappa}} height="450"></iframe>
    </body>
</html>